@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #202125;
  --foreground: #ffffff;
  --primary: #b0ee81;
  --primary-foreground: #202125;
  --secondary: #efffe3;
  --secondary-foreground: #202125;
  --terciary: #414a46;
  --terciary-foreground: #b0ee81;
  --content-background: #292a2e;
  --content-foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
}
